<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd" default-lazy-init="true">
  <bean class="org.specrunner.properties.impl.PropertyLoaderImpl" />
  <bean class="org.specrunner.configuration.impl.ConfigurationFactoryImpl" />
  <bean class="org.specrunner.features.impl.FeatureManagerImpl" />
  <bean class="org.specrunner.parameters.impl.AccessFactoryImpl" />
  <bean class="org.specrunner.concurrency.impl.ConcurrentMappingImpl" />
  <bean class="org.specrunner.source.resource.impl.ResourceManagerFactoryImpl" />
  <bean class="org.specrunner.source.impl.SourceFactoryGroupDefault" />
  <bean class="org.specrunner.source.impl.BuilderFactoryImpl" />
  <bean class="org.specrunner.transformer.impl.TransformerManagerImpl" />
  <bean class="org.specrunner.transformer.impl.TransformerDefault" />
  <bean class="org.specrunner.plugins.impl.factories.PluginFactoryGroupDefault" />
  <bean class="org.specrunner.context.impl.BlockFactoryImpl" />
  <bean class="org.specrunner.expressions.impl.ExpressionFactoryJanino" />
  <bean class="org.specrunner.context.impl.ContextFactoryImpl" />
  <bean class="org.specrunner.context.impl.ContextPopulatorImpl" />
  <bean class="org.specrunner.runner.impl.RunnerFactoryDefault" />
  <bean class="org.specrunner.result.impl.ResultFactoryImpl" />
  <bean class="org.specrunner.annotator.impl.AnnotatorFactoryDefault" />
  <bean class="org.specrunner.dumper.impl.SourceDumperFactoryDefault" />
  <bean class="org.specrunner.listeners.impl.ListenerManagerDefault" />
  <bean class="org.specrunner.reuse.impl.ReusableManagerImpl" />
  <bean class="org.specrunner.pipeline.impl.ChannelFactoryImpl" />
  <bean class="org.specrunner.pipeline.impl.PipelineFactoryXOM" />
  <bean class="org.specrunner.util.converter.impl.ConverterManagerImpl" />
  <bean class="org.specrunner.util.comparer.impl.ComparatorManagerImpl" />
  <bean class="org.specrunner.util.aligner.impl.StringAlignerFactoryImpl" />
  <bean class="org.specrunner.util.cache.impl.CacheFactoryDefault" />
  <bean class="org.specrunner.report.impl.ReporterFactoryDefault" />
  <bean class="org.specrunner.util.output.impl.OutputFactoryDefault" />
  <bean class="org.specrunner.impl.SpecRunnerFactoryDefault" />
  <bean class="org.specrunner.impl.SpecRunnerFactoryPluginDefault" />
</beans>