<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd" default-lazy-init="true">
  <bean class="org.specrunner.util.resources.ResourceFinder" />
  <bean class="org.specrunner.properties.core.PropertyLoaderImpl" />
  <bean class="org.specrunner.configuration.core.ConfigurationFactoryImpl" />
  <bean class="org.specrunner.features.core.FeatureManagerImpl" />
  <bean class="org.specrunner.converters.core.ConverterManagerImpl" />
  <bean class="org.specrunner.comparators.core.ComparatorManagerImpl" />
  <bean class="org.specrunner.util.xom.core.PresenterManagerImpl" />
  <bean class="org.specrunner.parameters.core.AccessFactoryImpl" />
  <bean class="org.specrunner.concurrency.core.ConcurrentMappingImpl" />
  <bean class="org.specrunner.source.resource.core.ResourceManagerFactoryImpl" />
  <bean class="org.specrunner.source.core.SourceFactoryManagerImpl" />
  <bean class="org.specrunner.source.core.BuilderFactoryImpl" />
  <bean class="org.specrunner.transformer.core.TransformerManagerImpl" />
  <bean class="org.specrunner.plugins.core.factories.PluginFactoryGroupDefault" />
  <bean class="org.specrunner.context.core.BlockFactoryImpl" />
  <bean class="org.specrunner.expressions.core.ExpressionFactoryJanino" />
  <bean class="org.specrunner.context.core.ContextFactoryImpl" />
  <bean class="org.specrunner.context.core.ContextPopulatorImpl" />
  <bean class="org.specrunner.runner.core.RunnerFactoryDefault" />
  <bean class="org.specrunner.result.core.ResultFactoryImpl" />
  <bean class="org.specrunner.annotator.core.AnnotatorFactoryDefault" />
  <bean class="org.specrunner.dumper.core.SourceDumperFactoryDefault" />
  <bean class="org.specrunner.listeners.core.ListenerManagerDefault" />
  <bean class="org.specrunner.reuse.core.ReusableManagerImpl" />
  <bean class="org.specrunner.pipeline.core.ChannelFactoryImpl" />
  <bean class="org.specrunner.pipeline.core.PipelineFactoryCustom" />
  <bean class="org.specrunner.util.aligner.core.StringAlignerFactoryImpl" />
  <bean class="org.specrunner.util.cache.core.CacheFactoryDefault" />
  <bean class="org.specrunner.report.core.ReporterFactoryDefault" />
  <bean class="org.specrunner.util.output.core.OutputFactoryDefault" />
  <bean class="org.specrunner.core.SpecRunnerFactoryDefault" />
  <bean class="org.specrunner.core.SpecRunnerFactoryPluginDefault" />
</beans>