table.sr_sreport, table.sr_treport {
    border: 1px solid black;
}

table.sr_sreport caption.sr_sreport, table.sr_treport caption.sr_treport {
    border: 1px solid black;
    background-color: gray;
    color: white;
    padding: 4px;
    font-size: large;
}

sup.sr_sreport, sup.sr_treport {
    padding: 2px;
}

table.sr_treport th.sr_lreport {
    border: 1px solid black;
    padding: 4px;
}

table.sr_treport th:after {
    background-color: white;
}

tr.sr_missing {
    background-color: LightSalmon ;
}

tr.sr_alien {
    background-color: LightGreen ;
}

tr.sr_missing , tr.sr_alien {
    color: black;
    /*font-weight: bold;*/
}

tr.sr_different {
    background-color: white;
}

td.sr_missing, td.sr_alien, td.sr_different {
    border: 1px solid black;
    padding: 2px;
    text-align: left;
    vertical-align: top;
}

table.sr_treport td.sr_different_cell {
    border: 2px dotted red;
    background-color: #ffd9d9;
}

