table.sr_tablereport {
    border: 1px solid black;
}

table.sr_tablereport caption {
    border: 1px solid black;
    background-color: gray;
    color: white;
    padding: 4px;
}

table.sr_tablereport caption:after, table.sr_tablereport th:after {
    padding: 1px 1px 1px 1px;
    font-size: x-small;
    vertical-align: top;
    content: attr(title);
}

table.sr_tablereport th:after {
    background-color: white;
}

tr.sr_missing {
    background-color: red;
}

tr.sr_alien {
    background-color: green;
}

tr.sr_different {
    background-color: white;
}

td.sr_missing, td.sr_alien, td.sr_different {
    border: 1px solid black;
    padding: 2px;
    text-align: left;
    vertical-align: top;
}

table.sr_tablereport td.sr_different_cell {
    border: 2px dotted red;
}

