.sr_detail {
    /*border-top: 1px solid #EDEDED;
    border-left: 1px solid #EDEDED;
    border-right: 1px solid #969696;
    border-bottom: 1px solid #969696;
    */
    background: blue;
    font-size: x-small;
    vertical-align: top;
    font-family: Verdana;
}