table.hibernate {
    border: 2px solid black;
}

.hibernate caption {
    font-family: Verdana;
	font-size: 12pt;
    padding: 5px;
    font-weight:bold;
	/*text-shadow: 1px 1px 2px #333333;*/
    background: url('images/hibernate.png') 0 0;
    background-repeat: no-repeat;
    background-position: left top;
    margin-right: 0px;
}

.hibernate th, .hibernate td {
    padding: 5px;
    font-family: Verdana;
}

.hibernate th {
    border: 1px solid black;
    font-size: 10pt;
    background-color: green;
    color: white;
}

.hibernate td {
    border: 1px dotted gray;
    font-size: 8pt;
}
