table {
	border: 1px solid gray;
}

td,th {
	padding: 4px;
}

th {
	background-color: #CCCCCC;
}

td,th {
	border: 1px dotted gray;
}

.hbncfg:before, .hbnsf:before, .hbnsch:before, .hbnins:before, .hbnupd:before, .hbndel:before, .hbnin:before, .hbnout:before {
	font-size: x-small;
	vertical-align: top;
}

.hbncfg:before {
	content: "CFG " attr(type);
}

.hbnsf:before {
	content: "SF " attr(configuration);
}

.hbnsch:before {
	content: "SCH " attr(schema) "/" attr(configuration);
}

.hbnins:before {
	content: "INSERT " attr(datasource);
}

.hbnupd:before {
	content: "UPDATE " attr(datasource);
}

.hbndel:before {
	content: "DELETE " attr(datasource);
}

.hbnin:before {
	content: "IN " attr(datasource);
}

.hbnout:before {
	content: "OUT " attr(datasource);
}